.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.Main{
    background-color: rgb(251, 115, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    height: 300px;
}

button{
    font-size: 30px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;

}
h1{
    font-size: 60px;
}